<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" (click)="openNave()"></span>
  </button>
  <a class="navbar-brand" href="#">JRaChat</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="isChat">
        <a class="nav-link" href="/chat">Chat<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [ngClass]="isAbout">
        <a class="nav-link" href="/about">About</a>
      </li>
            <li class="nav-item" [ngClass]="editProfile">
        <a class="nav-link" href="/profile">Profile</a>
      </li>

    </ul>
  </div>
</nav>
